{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1></h1>
<script>
    function getCookie(name){
        const  value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if(parts.length == 2) return parts.pop().split(';').shift();
    }
    function submitHandler(id){
        const textareaValue = document.getElementById(`textarea_${id}`).value;
        const content = document.getElementById(`content_${id}`);
        const modal = document.getElementById(`modal_edit_post_${id}`);
        
        fetch(`/edit_post/${id}`, {
            method: "POST",
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({content: textareaValue
            })
        })
        .then(response => response.json())
        .then(result =>{
            content.innerHTML = result.data;
            // Hide the modal
            $(modal).modal('hide');
            //modal.classList.remove('show');
            //modal.setAttribute('aria-hidden', 'true');
            //modal.setAttribute('style','display: none');

            // get modal backdrops
            const modalsBackdrops = document.getElementsByClassName('modal-backdrop');

            for (let i=0; i<modalsBackdrops.length; i++){
                document.body.removeChild(modalsBackdrops[i]);
            }

        }) 
        .catch(error => {
            console.error('Error:', error);
        });
    }     
    
</script>
{% comment %} <ul class="about">
    {% if profile.follows.count <= 1 %}
        <li><span>{{ profile.follows.count }}</span> Follower</li>
    {% else %}
        <li><span>{{ profile.follows.count }}</span> Followers</li>
    {% endif %}
    <li><span>{{ profile.fans.count }} </span>Following</li>
    {% if post_count <= 1 %}
        <li><span>{{post_count}} </span>Post</li>
    {% elif post_count >= 2 %}
        <li><span>{{post_count}} </span>Posts</li>
    {% endif %}
</ul> {% endcomment %}
<div class="card">
    <div class="card-header bg-secondary text-white">
        <h5 class="mb-0 text-capitalize">{{ profile.username}}</h5>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-start">
            <img src="https://i.pinimg.com/564x/0e/6e/8c/0e6e8ce4541732f9a6e6b32325939338.jpg" class="rounded-circle mr-3" width="100" height="100">
            <div>
                <p class="mb-1">Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul class="list-unstyled">
                    <li><strong>Followers:</strong> {{profile.follows.count}}</li>
                    <li><strong>Following:</strong> {{profile.fans.count}}</li>
                    <li><strong>Posts:</strong> {{post.count}}</li>
                    <form method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated and profile != request.user %}
                            {% if is_following %}
                                <button class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1"  type="submit">
                                    Unfollow 
                                </button>
                            {% else %}
                                <button class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1" type="submit">
                                    Follow 
                                </button>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'logout' %}" class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1">Logout</a>
                        {% endif %}
                    
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card-header boder border-primary bg-white ">
    <h5 class="mb-0 text-capitalize">Posts</h5>
</div>

{% for post in profile_post %}
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
            <!-- User avatar -->
            <img src="https://i.pinimg.com/564x/0e/6e/8c/0e6e8ce4541732f9a6e6b32325939338.jpg" alt="User Avatar" class="rounded-circle" width="50">
            </div>
            <div class="col">
            <!-- Username and date -->
            <h5 class="card-title text-capitalize">{{ post.user }}</h5>
            <p class="card-text text-muted">{{ post.date }}</p>

            </div>
            <div class="col">
                <div class="w-100 d-flex justify-content-end">
                    {% if request.user == post.user %}
                    <div class="d-flex justify-content-aroud">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_post_{{ post.id}}">Edit</button>
                    </div>
                    <div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_{{ post.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit Post</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <textarea rows="5" id="textarea_{{ post.id }}" class="form-control" name="content">{{post.content}} </textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" onclick="submitHandler({{ post.id }})">Save changes</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%endif%}
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="col">
            <!-- Post content -->
            <p class="card-text content" id="content_{{ post.id }}">{{ post.content }} </p> 
            </div>
        </div>
        <div class="row">
            <div class="col">
            <!-- Number of likes and actions -->
            <div class="d-flex">
                <button class="btn btn-link btn-sm p-0 pr-2 like-button">
                <i class="far fa-heart"></i>
                </button>
                <p class="card-text mb-0">0 Likes</p>
                <button class="btn btn-link btn-sm p-0 pl-2">
                <i class="fas fa-retweet"></i>
                </button>
            </div>
            </div>
        </div>
      
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_posts.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if page_posts.has_next %}
       <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}