@media only screen and (min-width: 1024px) {
    .nav-item:not(.display-username){
      display: none;
    }
  }

@media only screen and (max-width: 1024px) {
    /* Styles to apply for screens with a maximum width of 768px (typically mobile devices) */
    /* li.display-username {
      display: none;
    }     */
    
    .center-column {
      display: block;
      width: 100%;
      /* Add any additional styles as needed */
    }
  
    /* Styles to hide the other columns */
    .left-column, .right-column {
      display: none;
    }

    
  }

  #sidebar-wrapper {
    float: left;
  }
/* @media (min-width: 768px) {
.navbar-toggler {
    display: block;
}
} */