@media only screen and (min-width: 1024px) {
    .navbar-nav .nav-item:not(.display-username){
      display: none;
    }
    .display-navbar {
      display: block;
    }
  }

@media only screen and (max-width: 1024px) {
    /* Styles to apply for screens with a maximum width of 768px (typically mobile devices) */
    /* li.display-username {
      display: none;
    }     */
    
    .center-column {
      display: block;
      width: 100%;
      /* Add any additional styles as needed */
    }
  
    /* Styles to hide the other columns */
    .left-column, .right-column {
      display: none;
    }

    
  }

  #sidebar-wrapper {
    float: left;
  }
  .nav-brand {
    margin-left: 15px;
    color:#0d6efd;
    margin-top:10px;
    font-size:x-large ;
  }
  
  .navbar-brand:hover {
    background: rgba(29, 161, 242, 0.1);
    border-radius: 50%;
    color: #1da0f2;
    margin-right: 23px;
}
  /* @media (min-width: 768px) {
.navbar-toggler {
    display: block;
}
} */