@media only screen and (min-width: 1024px) {
    .navbar-nav {
      display: none;
    }
    .display-navbar {
      display: block;
    }
  }

@media only screen and (max-width: 1024px) {
    .center-column {
      display: block;
      width: 100%;
      /* Add any additional styles as needed */
    }
  
    /* Styles to hide the other columns */
    .left-column, .right-column {
      display: none;
    }

    
  }

.left-column {
  position: fixed;
  top: 15px;
  left: 100px;
  height: 400px;
  width: 200px;
  background-color: rgb(255, 255, 255); /* Default background */
  padding: 20px;
  border:#000000;

}

#sidebar-wrapper {
  float: left;
  width: 100px;
  
  


}

#sidebar-wrapper a{
  float: left;
  color: black; /* Default color */
  /*background-color: white;  Default background */

}
.nav-brand {
  margin-left: 15px;
  color:#000000;
  margin-top:10px;
  font-size:x-large ;
}

.navbar-brand:hover {
  background: rgba(29, 161, 242, 0.1);
  border-radius: 50%;
  color: #000000;
  margin-right: 23px;
}

/* @media (min-width: 768px) {
.navbar-toggler {
  display: block;
}
} */